h1 {
  color: #f3b0e1;
  font-family: "Playfair Display", serif;
  font-size: 96px;
  text-align: center;
  margin-top: 60px;
}

h2,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
}

p {
  font-size: 24px;
  padding-bottom: 20px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 85px;
}

h4 {
  font-size: 30px;
}

.active {
  color: #f3b0e1 !important;
}

.link-dark:hover {
  color: #f3b0e1;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.nav-item:hover {
  color: #f3b0e1 !important;
}

.main {
  margin: 0px 0px 200px;
  text-align: center;
  background-color: #fd9292;
  padding: 15px 60px 130px 10px;
}

.btn-home {
  background: #f3b0e1;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}

.btn-home:hover {
  color: #f3b0e1;
  background: black;
  transition: 400ms ease-in-out;
}

.btn-project {
  color: white;
  background: #fdd2cc;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

.weather-text {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.weather-app-image {
  margin: 0px 0px 0px -25px;
}

.weather-project-image {
  margin: 0px 0px 0px 15px;
}

.zodiac-web-image {
  margin: 0px 0px 0px -20px;
}

.btn-contact {
  color: white;
  background: #fdd2cc;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  margin: -46px 20px 0px 120px;
  font-size: 25px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }

  .main {
    margin: 0px 0px 0px 0px;
  }

  h3 {
    text-align: center;
  }

  .weather-text {
    text-align: center;
  }

  .about-bio {
    text-align: center;
  }

  .btn-contact {
    color: white;
    background: #fdd2cc;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
  }
}

.about-Meagan {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 85px;
  color: black;
  margin: 70px 30px 20px 5px;
  text-align: left;
}

.about-bio {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: rgba(39, 33, 66, 0.7);
}

.about-section h3 {
  margin-top: 20px;
  font-family: Poppins;
  font-size: 24px;
  line-height: 25px;
}

.about-section p {
  font-size: 20px;
}

.work-page-weather-image {
  margin-top: -17px;
}

.contact-section {
  background: rgba(253, 210, 204, 0.44);
  border-radius: 20px;
  margin-top: 100px;
}

.contact-section h1 {
  margin-top: 18px;
  margin-left: 28px;
}

.contact-section p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

footer {
  margin: 60px 20px;
}

footer .contact-box {
  background: #f4e5e3;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

footer .email-link:hover {
  color: #fdd2cc;
}

footer .social-links a {
  margin: 0 20px;
  color: #fdd2cc;
  background: white;
  padding: 10px 14px;
  border-radius: 45%;
  font-size: 23px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: #fdd2cc;
}
