h1 {
  color: #f3b0e1;
  font-family: "Playfair Display", serif;
  font-size: 96px;
  text-align: center;
}

h2,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
}

p {
  font-size: 24px;
  padding-bottom: 20px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 45px;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  color: #f3b0e1;
}

.main {
  margin: 0px 0px 40px;
  text-align: center;
  background-color: #fd9292;
  padding: 10px 60px 200px 10px;
}

.btn-home {
  background: #f3b0e1;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}

.btn-home:hover {
  color: #f3b0e1;
  background: black;
  transition: 400ms ease-in-out;
}

.btn-project {
  color: white;
  background: #fdd2cc;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}

.weather-text {
  text-align: left;
}
